body {
    position: relative;

    width: 1920px;
    margin: 0 auto;

    font-family: 'Open Sans', "Arial", sans-serif;
    font-size: 100%;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

h2 {
  text-align: center;
}

main,
.row-item {
    overflow: hidden;
}

/*
.row-item-content
{
	padding: 0 15px;
}
*/

.row-item-container {
    margin: 0 auto;
    width: 60.94%;
    /*box-sizing: border-box; */
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header,
.row-item-content h1,
.row-item-content h2 {
    text-transform: uppercase;

}

.row-item-content h2 {
  letter-spacing: 0.0625em;
}


.main-header {
    background-color: rgba(255,255,255,0.2);
}

.logo,
.contact,
.main-navigation {
    float: left;
    font-size: 0.75em;
}

.logo {
    padding: 13px 2%;
    margin: 17px 1%;

    font-size: 0; /* inline-block spacing fix */
}

.logo a {
    display: inline-block;
}

.contact {
    width: 13%;
    margin: 22px 1.5%;
}

.main-navigation {
    width: 60%;
    margin: 18px 0;
    padding: 12px 1%;
    font-weight: bold;
}

.main-header {
    position: absolute;
    right: 0;
    width: 100%;
}

.navigation-item {
    display: inline-block;
    padding: 5px 0;
    margin: 0 1.6%;
    color: #9daeb6;
}

.navigation-item:hover {
    border-bottom: 2px solid #36aeea;
}

.banner-main {
  min-height: 694px;
	background: url("../img/Header/background-image.jpg") no-repeat;
}

.banner-main-container {
    margin-top: 220px;
}

.btn {
    display: inline-block;
    border: 3px solid #36aeea;
    color: #36aeea;
}

.btn-call {
    width: 95%;
    padding: 11px 0;
    border-radius: 7%;

    text-align: center;
    font-weight: bold;
}

.btn-call:hover {
    background-color:  #36aeea;
    color: white;
}

.banner-main-content {
    width: auto;
    min-height: 312px;  /* temp */
    margin: 0 2%;
    border: 2px solid white;
    border-top: 0;
}

.banner-main-content h1 {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.top-line {
    font-size: 0;
}

.top-line-left,
.top-line-right {
    display: inline-block;
    height: 2px;
    background-color: white;
}

.top-line-left {
    width: 65.1%;
    margin-right: 17.8%;
}

.top-line-right {
    width: 17.1%;
}

.banner-main-content .title-text {
    color: #36aeea;
}

/* line-brand */

.line-brand {
  background-color: gray;
  font-size: 0;
}

.line-brand-item {
  padding: 73px 0;
  vertical-align: middle;
  display: inline-block;
}

.line-brand-item:not(:first-child) {
  margin-left: 12.6%;
}

.line-brand-item img {
  vertical-align: bottom;
}

/*about-us*/
.about-us {
  min-height: 667px;
  background: #f6f4f4 url('../img/Blog/map1.png') no-repeat;
  background-position: 486px 18px;
}

.about-us-content {
  width: 33.1%;
  padding-top: 204px;
  position: relative;
}

.about-us-title {
  text-align: left;
}

.about-us-content img {
    margin-bottom: 32px;
}

.about-us-content p {
	color: #949494;
	line-height: 26px;
}

.about-us-item1 {
 position: absolute;
 width: 806px;
 height: 570px;
 top: -36px;
 left: 563px;
}

.about-us-item2 {
 position: absolute;
 width: 350px;
 height: 350px;
 top: 279px;
 left: 459px;
}

.btn-read {
  width: 36.11%;
  border-radius: 5px;
  background-color:  #36aeea;
  color: white;
  text-align: center;
  margin-top: 13px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 36px;
}

.btn-read:hover {
  background-color:  #f6f4f4;
	color: #36aeea;
}

/*our-journal*/
.our-journal {
    min-height: 1070px;
}

.our-journal-container {
    text-align: center;
    padding-top: 61px;
}
.our-journal-title {
	font-size: 30px;
	line-height: 42px;
	text-transform: uppercase;
	margin-top: 20px;
}

.features {
	margin-top: 62px;
	box-shadow: 0 0 21px rgba(6,6,6,0.13);
}

.features-item {
	width: 380px;
	height: 380px;
	float: left;
}

.features-img1 {
	background-image: url("../img/Journal/item1.jpg");
}

.features-img2 {
	background-image: url("../img/Journal/item2.jpg");
}

.features-img3 {
	background-image: url("../img/Journal/item3.jpg");
}

.features-icon {
    position: relative;
    top: 39.47%;
}

/* only for fun scetion */
@keyframes test {
  from {width: 81px; height: 81px;}
  to {width: 90px; height: 90px;}
}

.features-img1:hover .features-icon {
  animation-name: test;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* fun section end */

.features-word {
    font-size: 11px;
    line-height: 12.54px;
    color: #16b5ef;
    text-transform: uppercase;
    letter-spacing: .15em;
}

.features-description {
    padding-top: 36px;
    height: 343px;
    width: 322px;
    padding-right: 29px;
    padding-left: 29px;
}

.features-description h3 {
    text-transform: uppercase;
    font-size: 16.15px;
    line-height: 24.23px;
    letter-spacing: .15em;
    margin-top: 43px;
}

.about-us-content p {
	color: #949494;
	line-height: 26px;
}

.features-description p
{
    font-size: 14px;
    line-height: 22.8px;
    color: #808080;
}

/* contacts form */
.contact-row {
  height: 1350px; /* temp */
  background: url("../img/Footer/clients-bg.png") no-repeat;
  background-position: 0 100%;
}

.contact-form {
  width: 43.9%;
  margin: 0 auto;
  margin-bottom: 248px;
  border-radius: 11px;
  overflow: auto;
  background: url("../img/Footer/contacts-bg.png") no-repeat;
}

.contact-form-title,
.contact-form p {
  text-align: center;
}

.contact-form p {
  margin: 0 0 34px 0;
}

.contact-form-title {
    margin-top: 30px;
    color: #36aeea;
    font-size: 2.25em;
}

.contact-form input,
.contact-form button {
  box-sizing: content-box; /* button is border-box by default */
  display: block;
  width: 84%;
  padding: 0 2%;
  margin: 20px auto;
  border-radius: 6px;
  border: 0;
}

.contact-form input {
  height: 60px;
  font-size: 1.125em;
}

.contact-form button {
  height: 70px;
  margin-bottom: 50px;
  background-color: #36aeea;
  color: white;
  font-size: 1em; /* browser ovveride style in body. Don't know why */
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.contact-form button:hover {
    box-shadow: 0 0 13px 0 black;
}


/* footer */
.main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 12px;
  font-size: 1.125em;
  font-weight: bold;
  color: #78aaba;
}

.footer-content {
  padding: 0 1%;
}

.footer-layout-column {
  float: left;
  width: 33.3%;
  height: 100%;
}
.footer-rights,
.footer-phone {
  padding-top: 9px;
}

.footer-phone {
  text-align: right;
}

.footer-social {
  text-align: center;
}

.footer-social a {
  width: 47px;
  height: 47px;
  display: inline-block;
  font-size: 0;
  overflow: hidden; /* temp fix because of images size difference */
}

.footer-phone a{
    color: #7ec8da;
}

/*offer*/
.offer {
	min-height: 650px;
	background: #f6f4f4 url("../img/Offer/trees.jpg") no-repeat;
}

.offer-item-content {
  padding-top: 140px;
  padding-right: 290px;
}
.offer-title {
  margin-top: 19.5px;
	font-weight: bold;
	font-size: 20px;
  text-align: left;
	line-height: 43px;
}

.offer-text {
  margin-top: 10px;
	font-size: 16px;
	line-height: 26px;
	color: #949494;
}

.offer-form {
	background: #ffffff;
	padding: 17.5px 0 17.5px 21px;
}

.offer-form-label {
	font-size: 16px;
	color: #949494;
	letter-spacing: .02em;
	line-height: 1.2;
}

.offer-form-input {
	border: none;
}

.offer-form-input:focus {
  outline: none;
}

/* clients */
.comments {
  margin-top: 83px;
  margin-bottom: 140px;
}

.comment::before {
  content: "";
  display: block;
  height: 22px;
  background: url("../img/Footer/quotation-mark.png") no-repeat;
}

.comment-text {
  margin-bottom: 23px;
  margin-top: 10px;
  font-size: 1.125em;
  line-height: 1.875em;
}

.comment-footer * {
  vertical-align: middle;
}

.comment-image {
  margin-right: 2.5%;
  cursor: pointer;
}

.comment-author,
.comment-author-speciality {
  color: #36aeea;
}

.comment-author {
  font-weight: bold;
}

.layout-column {
  width: 45%;
  padding: 0 2.5%;
  float: left;
}

.clients-content {
  padding-top: 71px;
}

.clients-content-title {
  font-size: 2em;
}

.clients-content-title::before {
 content: "";
 display: block;
 margin-bottom: 20px;
 height: 7px;
 text-align: center;
 background: url("../img/Blog/waves.svg") no-repeat 50%;
}
