body {
    position: relative;

    width: 1920px;
    margin: 0 auto;

    font-family: 'Open Sans', "Arial", sans-serif;
    font-size: 100%;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

main,
.row-item {
    overflow: hidden;
}
.row-item-content
{
	padding: 0 15px;
}

.row-item-container {
    margin: 0 auto;
    width: 60.94%;
    /*box-sizing: border-box; */
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header,
.row-item-content h1,
.row-item-content h2 {
    text-transform: uppercase;
}

.main-header {
    background-color: rgba(255,255,255,0.2);
}


.logo,
.contact,
.main-navigation {
    float: left;
    font-size: 0.75em;
}

.logo {
    padding: 13px 2%;
    margin: 17px 1%;

    font-size: 0; /* inline-block spacing fix */
}

.logo a {
    display: inline-block;
}

.contact {
    width: 13%;
    margin: 22px 1.5%;
}

.main-navigation {
    width: 60%;
    margin: 18px 0;
    padding: 12px 1%;

    font-weight: bold;
}

.main-header {
    position: absolute;
    right: 0;
    width: 100%;
}

.navigation-item {
    display: inline-block;
    padding: 5px 0;
    margin: 0 1.6%;
    color: #9daeb6;
}

.navigation-item:hover {
    border-bottom: 2px solid #36aeea;
}

.banner-main {
  min-height: 694px;
	background: url("../img/Header/background-image.jpg") no-repeat;
}

.banner-main-container {
    margin-top: 220px;
}

.btn {
    display: inline-block;
    border: 3px solid #36aeea;
    color: #36aeea;
}

.btn-call {
    width: 95%;
    padding: 11px 0;
    border-radius: 7%;

    text-align: center;
    font-weight: bold;
}

.btn-call:hover {
    background-color:  #36aeea;
    color: white;
}

.banner-main-content {
    width: auto;
    min-height: 312px;  /* temp */
    margin: 0 2%;
    border: 2px solid white;
    border-top: 0;
}

.banner-main-content h1 {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.top-line {
    font-size: 0;
}

.top-line-left,
.top-line-right {
    display: inline-block;
    height: 2px;
    background-color: white;
}

.top-line-left {
    width: 65.1%;
    margin-right: 17.8%;
}

.top-line-right {
    width: 17.1%;
}

.banner-main-content .title-text {
    color: #36aeea;
}

/* line-brand */

.line-brand {
  background-color: gray;
  font-size: 0;
}

.line-brand-item {
  padding: 73px 0;
  vertical-align: middle;
  display: inline-block;
}

.line-brand-item:not(:first-child) {
  margin-left: 12.6%;
}

.line-brand-item img {
  vertical-align: bottom;
}
/*about-us*/
.about-us {
  min-height: 667px;
  background: #f6f4f4 url('../img/Blog/map1.png') no-repeat;
  background-position: 486px 18px;
}

.about-us-content {
  width: 33.1%;
  padding-top: 204px;
  position: relative;
}
.about-us-content img
{
    margin-bottom: 32px;
}

.about-us-content p {
	color: #949494;
	line-height: 26px;
}
.about-us-item1 {
 position: absolute;
 width: 806px;
 height: 570px;
 top: -36px;
 left: 563px;
}

.about-us-item2 {
 position: absolute;
 width: 350px;
 height: 350px;
 top: 279px;
 left: 459px;
}
.btn-read {
  width: 36.11%;
  border-radius: 5px;
  background-color:  #36aeea;
  color: white;
  text-align: center;
  margin-top: 13px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 36px;
}

.btn-read:hover {
  background-color:  #f6f4f4;
	color: #36aeea;
}
/*our-journal*/
.our-journal
{
    min-height: 1070px;
}
.our-journal-container
{
    text-align: center;
    padding-top: 61px;
}
.our-journal-title
{
	font-size: 30px;
	line-height: 42px;
	text-transform: uppercase;
	margin-top: 20px;
}
.features
{
	margin-top: 62px;
	box-shadow: 0 0 21px rgba(6,6,6,0.13);
}
.features-item
{
	width: 380px;
	height: 380px;
	float: left;
}
.features-img1
{
	background-image: url("../img/Journal/item1.jpg");
}
.features-img2
{
	background-image: url("../img/Journal/item2.jpg");
}
.features-img3
{
	background-image: url("../img/Journal/item3.jpg");
}
.features-icon
{
    position: relative;
    top: 39.47%;
}
.features-word
{
    font-size: 11px;
    line-height: 12.54px;
    color: #16b5ef;
    text-transform: uppercase;
    letter-spacing: .15em;
}
.features-description
{
    padding-top: 36px;
    height: 343px;
    width: 322px;
    padding-right: 29px;
    padding-left: 29px;
}
.features-description h3
{
    text-transform: uppercase;
    font-size: 16.15px;
    line-height: 24.23px;
    letter-spacing: .15em;
    margin-top: 43px;
}
.features-description p
{
    font-size: 14px;
    line-height: 22.8px;
    color: #808080;
}

/* footer */
.main-footer {
  padding-top: 20px;
  padding-bottom: 12px;
  background-color: #406b73;
  font-size: 1.125em;
  font-weight: bold;
  color: #78aaba;
}

.footer-layout-column {
  float: left;
  width: 33.3%;
  height: 100%;
}
.footer-rights,
.footer-phone {
  padding-top: 9px;
}

.footer-phone {
  text-align: right;
}

.footer-social {
  text-align: center;
}

.footer-social a {
  width: 47px;
  height: 47px;
  display: inline-block;
  font-size: 0;
  overflow: hidden; /* temp fix because of images size difference */
}

.footer-phone a{
    color: #7ec8da;
}
/*offer*/
.offer
{
	min-height: 650px;
	background: #f6f4f4 url("../img/Offer/trees.jpg") no-repeat;
}
.offer-item-content
{
    padding-top: 140px;	
    padding-right: 290px;
}
.offer-title
{
    margin-top: 19.5px;

	font-weight: bold;
	font-size: 20px;
	line-height: 43px; 
}
.offer-text
{
    margin-top: 10px;

	font-size: 16px;
	line-height: 26px;
	color: #949494;
}
.offer-form
{
	width: 852px;
	background: #ffffff; 
	border-radius: 5px;
}
.offer-form-label
{
	font-size: 16px;
	color: #949494;
	letter-spacing: .02em;
	line-height: 1.2;
	padding-left: 20px;
}
.offer-form-input
{
	border: none;
	height: 35px;
}
.offer-form-part
{
  display: inline-block;
}
.offer-form-input-border
{
	border-right: 1px solid #ebebeb;
}

.btn-order {
  width: 225px;
  height: 55px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 5px;
  background-color:  #36aeea;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: .1em;
  position: relative;
  right: 3px;

}

.btn-order:hover {
  background-color:  #f6f4f4;  
  color: #36aeea;
}