body {
    position: relative;

    width: 1920px;
    margin: 0 auto;

    font-family: 'Open Sans', "Arial", sans-serif;
    font-size: 100%;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

main,
.row-item {
    overflow: hidden;
}


.row-item-container {
    margin: 0 auto;
    width: 60.94%;
    /*box-sizing: border-box; */
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header,
.row-item-content h1,
.row-item-content h2 {
    text-transform: uppercase;
}

.main-header {
    background-color: rgba(255,255,255,0.2);
}


.logo,
.contact,
.main-navigation {
    float: left;
    font-size: 0.75em;
}

.logo {
    padding: 13px 2%;
    margin: 17px 1%;

    font-size: 0; /* inline-block spacing fix */
}

.logo a {
    display: inline-block;
}

.contact {
    width: 13%;
    margin: 22px 1.5%;
}

.main-navigation {
    width: 60%;
    margin: 18px 0;
    padding: 12px 1%;

    font-weight: bold;
}

.main-header {
    position: absolute;
    right: 0;
    width: 100%;
}

.navigation-item {
    display: inline-block;
    padding: 5px 0;
    margin: 0 1.6%;
    color: #9daeb6;
}

.navigation-item:hover {
    border-bottom: 2px solid #36aeea;
}

.banner-main {
    min-height: 648px; /* temp */
    background: url("../img/Header/background-image.jpg") no-repeat;
}

.banner-main-container {
    margin-top: 220px;
}

.btn {
    display: inline-block;
    border: 3px solid #36aeea;
    color: #36aeea;
}

.btn-call {
    width: 95%;
    padding: 11px 0;
    border-radius: 7%;

    text-align: center;
    font-weight: bold;
}

.btn-call:hover {
    background-color:  #36aeea;
    color: white;
}

.banner-main-content {
    width: auto;
    min-height: 312px;  /* temp */
    margin: 0 2%;
    border: 2px solid white;
    border-top: 0;
}

.banner-main-content h1 {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.top-line {
    font-size: 0;
}

.top-line-left,
.top-line-right {
    display: inline-block;
    height: 2px;
    background-color: white;
}

.top-line-left {
    width: 65.1%;
    margin-right: 17.8%;
}

.top-line-right {
    width: 17.1%;
}

.banner-main-content .title-text {
    color: #36aeea;
}


/* line-brand */

.line-brand {
  background-color: gray;
  font-size: 0;
}

.line-brand-item {
  padding: 73px 0;
  vertical-align: middle;
  display: inline-block;
}

.line-brand-item:not(:first-child) {
   margin-left: 12.6%;
}

.line-brand-item img {
  vertical-align: bottom;
}




/* footer */

.main-footer {
  padding-top: 20px;
  padding-bottom: 12px;
  background-color: #406b73;
  font-size: 1.125em;
  font-weight: bold;
  color: #78aaba;
}

.footer-layout-column {
  float: left;
  width: 33.3%;
  height: 100%;
}
.footer-rights,
.footer-phone {
  padding-top: 9px;
}

.footer-phone {
  text-align: right;
}

.footer-social {
  text-align: center;
}

.footer-social a {
  width: 47px;
  height: 47px;
  display: inline-block;
  font-size: 0;
  overflow: hidden; /* temp fix because of images size difference */
}

.footer-phone a{
  color: #7ec8da;
}
